// @import 'nib'
afnRed = rgb(193, 23, 4)
navigationHeight = 50px
sidebarWidth = 60px
sidebarBackground = rgb(46,46,46)
navigationBackground = linear-gradient(top, afnRed, darken(afnRed, 5%))

// body
// 	font-family Helvetica Neue
// 	padding 0px
// 	margin 0px
// 	width 100%
// 	height 100%
// 	overflow hidden

h2
	color black
	
	span.archived
		color red

input[type="checkbox"]
	float left
	margin-right 5px
	// transform scale(5.0)

#sidebar
	absolute top left bottom
	width sidebarWidth
	display flex
	flex-direction column
	background sidebarBackground
	align-items center
	
	> img
		width 36px
		height 36px
		display inline-block
		margin-top 10px
		user-select none
		vertical-align middle
		margin-bottom 10px

.considerations-list
	padding-top 20px

.sidebar-item
	width sidebarWidth
	text-align center
	// padding 15px 5px
	// padding-top 5px
	box-shadow 0px 1px 0px rgba(255,255,255,0.02), inset 0px 1px 1px rgba(0,0,0,0.5)
	display flex
	flex-direction column
	align-items center
	padding 10px 0px
	
	&.logout
		absolute left bottom right
	
	&.active
		background linear-gradient(top, rgb(5,5,5), rgb(25,25,25))

	img
		width 36px !important
		height 36px !important

searchWidth = 200px

.forms-search
	absolute top left bottom
	width searchWidth
	background lighten(rgb(255, 245, 202), 90%)
	border-right 1px solid rgb(245, 240, 223)
	z-index 100
	text-align left
	padding 10px 0px
	
	.search-header
		height 29px
		border-bottom 1px solid rgba(0,0,0,0.05)
		font-weight bold
		padding 0px 20px
		background linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.0))
	
	.search-row
		padding 10px
		text-align left
		
		.check-button
			padding 0px 10px
			display flex
			flex-direction row
			
			.checkBox
				margin-right 10px
			
			.check-label
				user-select none
				cursor default

.forms-list
	absolute top left searchWidth right bottom
	background white
	z-index 99
	
	table
		width 100%
		text-align left
		border none
		border-bottom 1px solid rgb(245,245,245)
		border-collapse collapse
		
		tr
			td
				padding 15px 20px
				border-right 1px solid rgb(245,245,245)
				border-bottom 1px solid rgb(245,245,245)
				
				&.icon-cell
					padding 0px 10px
					
					.icn
						display inline-block
						width 36px
						text-align center
						vertical-align middle
						
					&.children
						padding-left 15px
						
						// .icn
						// 	width 43px
				
				&.status
					width 10px
					padding 10px 0px
					padding-left 15px
					border-right none
				
				&.name
					padding-left 15px
					width 220px
			
			th
				padding 10px 20px
				background rgb(253,253,253)
				border-right 1px solid rgb(245,245,245)
				border-bottom 1px solid rgb(245,245,245)
				
				&.name
					padding-left 15px
				
				&.status
					padding 0px
					border-right none
			
			&:active
				background rgb(253,253,253)

#app-content
	absolute top left sidebarWidth right bottom
	box-shadow -1px 0px 3px rgba(0,0,0,0.5)
	background white

#navigation
	absolute top left right
	height navigationHeight
	background navigationBackground
	padding 11px 10px
	box-sizing border-box
	display flex
	flex-direction row
	align-items center
	padding 0px 10px
	
	.nav-label
		font-weight 500
		font-size 18px
		color white
		padding-left 10px
	
	.nav-item
		color white
		vertical-align middle
		display inline-block
		margin-right 5px
		font-size 17px
		flex 0 1 1
		padding 5px 15px
		border-radius 16px
		user-select none
		cursor pointer
		
		&:hover
			background darken(afnRed, 10%)
		
		&.active
			background darken(afnRed, 40%)
			cursor default

#admin-content
	background white
	absolute top left bottom right
	overflow-y auto
	overflow-x hidden
	padding-right 20px
	padding-left 20px
	
	.status-btn
		absolute top 20px right 20px
		margin-right 0px
		font-size 16px
		padding-right 15px
		
		&.pending
			background linear-gradient(top, lighten(rgb(254, 206, 4), 40%), rgb(254, 206, 4))
		
		&.rejected
			color white
			text-shadow 0px 1px 0px rgba(0,0,0,0.25)
			background linear-gradient(top, lighten(afnRed, 40%), afnRed)
		
		&.approved
			color white
			text-shadow 0px 1px 0px rgba(0,0,0,0.25)
			background linear-gradient(top, lighten(rgb(22, 160, 133), 40%), rgb(22, 160, 133))

		color rgb(102, 89, 42)
		cursor default
		user-select none
		
		i
			margin-left 10px
			font-weight 600
		
		.status-menu
			color black
			text-shadow none
			absolute top 40px left right
			height 79px
			border-radius 4px
			border 1px solid rgb(200,200,200)
			box-shadow 0px 1px 3px rgba(0,0,0,0.05)
			display flex
			flex-direction column
			
			.menu-item
				border-bottom 1px solid rgb(200,200,200)
				padding 10px
				
				&.approve:hover
					background rgb(22, 160, 133)
					color white
				
				&.reject:hover
					background afnRed
					color white
				
				&:last-child
					border-bottom none
	
	.individuals-table
		border-collapse collapse
		text-align left
		width 100%
		max-width 920px
		border 1px solid rgb(180, 180, 180)
		margin-top 10px
		margin-bottom 10px
		
		tr
			td
				padding 10px
				font-weight 500
				border-right 1px solid rgb(180, 180, 180)
			
			th
				padding 10px
				color rgb(120, 120, 120)
				font-weight normal
				text-align left
				border-bottom 1px solid rgb(180, 180, 180)
				background rgb(253,253,253)
				border-right 1px solid rgb(180, 180, 180)

.considerations
	display flex
	flex-direction column
	
	.consideration
		padding 10px 0px
		display flex
		flex-direction row
		align-items center
		// justify-content center
		
		.icn
			display flex
			flex-direction column
			// vertical-align middle
			margin-right 10px
			min-width 32px
			align-items center
		
		label
			relative top 5px
			color rgb(60, 60, 60)
			font-weight 500

@media print
	#sidebar
		display none
	
	#app-content
		left 0px
		box-shadow none
	
	#admin-content
		left 0px
		box-shadow none
		padding 0px
		
		.form-group
			.form-item
				.form-label
					color rgb(90,90,90)
		
		.status-btn
			color black
			border-color rgb(180, 180, 180)
			background white
			font-weight normal
			padding 8px 12px
			right 0px
			
			i
				display none
		
		.individuals-table
			tr
				th
					color rgb(90,90,90)