@import 'nib'

.form-wrapper {
  // max-width: 960px;
  margin: 20px auto;
}

.form {
  display: block;
  // margin: 0px 20px;
  background: white;
  padding-bottom: 10px;
  // border-radius: 4px;
}

.form-row {
  display: flex;
  flex: 1;
  padding: 10px 20px;
  max-width: 960px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

desaturationAmount = 90%
altBackground = desaturate(rgb(255, 254, 250), desaturationAmount)
altBorder = desaturate(rgb(245, 240, 223), desaturationAmount)

.form-alt
  padding-top 10px
  background altBackground
  border-top 1px solid altBorder
  border-bottom 1px solid altBorder
  margin 10px 0px

.form-cell {
  flex: 1;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='text'], input[type='number'], input.form-control {
  padding: 10px 8px;
  padding-bottom: 9px;
  width: 100%;
  border: 1px solid rgb(190,190,190);
  border-radius: 2px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type='checkbox'] {
  display: inline-block;
}

/*rgb(0, 134, 199)*/

input:focus {
  border-color: rgb(253, 155, 8);
  outline: none;
  box-shadow: 0px 0px 3px rgb(253, 155, 8);
}

textarea
  width: 100%
  height: 192px
  resize: none
  border: 1px solid rgb(190,190,190)
  border-radius: 2px
  padding: 10px
  box-sizing: border-box
  font-size 16px

  &:focus
    border-color rgb(253, 155, 8)
    outline none
    box-shadow 0px 0px 3px rgb(253, 155, 8)

.index img
  margin 40px auto
  border-radius 4px
  background #fff
  display block

.index .notice
  margin 20px auto
  padding 15px 0
  text-align center
  border 1px solid #000
  border-width 1px 0
  background #666

h1
  text-align: center

.form-cell-group
  width 100%
  display flex
  justify-content space-between
  
  .form-cell:last-child
    margin-right 0px

.form-cell-column
  display flex
  flex 1
  flex-direction column

.switch-cell label
  display inline-block
  vertical-align middle

@media screen and (max-width: 600px) /* Mobile */ {
  .form-cell-group {
    flex-direction: column;
  }

  .form-cell-group .form-cell {
    margin-right: 0px;
  }
}


.switch-toggle
  absolute top left
  background linear-gradient(top, white, rgb(250,250,250))
  border 1px solid rgb(190, 190, 190)
  margin-top -1px
  margin-left -1px
  width 28px
  height 28px
  border-radius 14px
  box-shadow none
  box-sizing border-box
  transition left 0.1s linear

.switch
  border-color rgb(190, 190, 190)
  background desaturate(rgb(238, 219, 191), 50%)
  box-shadow inset 0px 1px 3px rgba(0,0,0,0.1)
  width 50px
  height 26px
  border-radius 13px
  position relative
  transition background 0.1s linear
  display inline-block
  float right
  
  &.on
    background rgb(254, 206, 4)

    .switch-toggle
        left 24px

.birthdate
  display flex
  flex-direction row
  
  .year-cell
    flex 1
  
  .day-cell
    flex 1
    margin-right 20px
  
  .month-cell
    flex 1
    margin-right 20px

.form-control
  &.invalid
    border 1px solid rgb(193, 22, 5)
    box-shadow 0px 0px 3px rgb(193, 22, 5)

select
  padding 0px 10px
  padding-top 1px
  // padding-bottom 0px
  font-size 18px
  height 39px
  width 100%
  background white url('/img/down-arrow.png') no-repeat
  background-position top 13px right 10px
  background-size 12px 12px
  border-color rgb(190, 190, 190)
  -webkit-appearance none
  appearance none
  border-radius 2px

  &:focus
    border-color rgb(253, 155, 8)
    outline none
    box-shadow 0px 0px 3px rgb(253, 155, 8)
